@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Barlow", sans-serif;
}

/* FOR EMBEDDED EVERY ACTION FORM */
.at-title, .fastAction, .at-legend, #NVSignupForm1226316-ContactInformation-SmsLegalDisclaimer {
  display: none !important;
}

.at-text {
  font-family: "Barlow", sans-serif !important;
  text-transform: uppercase;

}

.at-text input {
  background-color:#F0F3FF !important ;
  border-top: none  !important;
  border-left: none  !important;
  border-right: none  !important;

}
#NVSignupForm1226316-ContactInformation, .at-form-submit {
  background-color: #F0F3FF !important;
  padding-bottom: 0px;
}

.at-submit {
  background-color: black !important;
  text-transform: uppercase !important;
  transition: transform 0.2s ease !important;
}

.at-submit:hover {
  transform: scale(1.05) !important;
}

html {
  scroll-behavior: smooth;
}

.at-submit {
  background-color: black !important;
  text-transform: uppercase;
   color: white; border: 3px solid black !important; box-shadow: black -4px 4px 0px 0px !important;
   border-radius: 0 !important;
   width: 92.5% !important;
}

.updateMyProfileSection span {
  display: none;
}
/* 
  .at-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .at-row.MobilePhone,
  .SmsLegalDisclaimer,
  .SmsSubscribeMobilePhone {
    display: none !important;
  }


  .at-text input {
    width: 100%;
  } */


  .at-row,
  .at-text {
    margin: 0 !important;
    padding: 0 !important;
  }

  .at-text label,
  .at-text input,
  .at-text small {
    margin: 0;
    padding: 0;
  }

  form, fieldset {
    width: 100%;
  }
  
  .at-text input {
    width: 100%;
    box-sizing: border-box;
  }
  .at-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
#NVSignupForm1226316-ContactInformation-MobilePhone {
  display: none !important;
}
  .at-text {
    display: flex;
    flex-direction: column;
  }
  .at-row.FirstName.LastName,
  .at-row.PostalCode,
  .at-row.EmailAddress {
    display: contents;
  }